@model Bookshop.Models.Book
@{
    ViewData["Title"] = "Usuwanie";
}
<br/>
<h2>Usuń książkę</h2>
<hr/>

<form asp-action="Delete">
    <div class="form-border">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="name" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="name" disabled class="form-control"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="genre" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="genre" disabled class="form-control"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="year" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="year" disabled class="form-control"/>
                </div>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <input type="submit" value="Usuń wpis" class="btn btn-sm btn-primary" id="delete"/>
            <a asp-action="Index" class="btn btn-sm btn-success">Powrót</a>
        </div>
    </div>
</form>
