@using Bookshop.Ultility

@if (User.IsInRole(StaticDetails.AdminUser))
{
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Users" asp-action="Index">Użytkownicy</a></li>
    </ul>
}
@if (User.IsInRole(StaticDetails.User) || User.IsInRole(StaticDetails.AdminUser))
{
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Publishers" asp-action="Index">Wydawcy</a></li>
        <li><a asp-area="" asp-controller="Books" asp-action="Index">Książki</a></li>
        <li><a asp-area="" asp-controller="Stores" asp-action="Index">Magazyn</a></li>
    </ul>
}