@model Bookshop.Models.IndividualButtonPartial
<td style="width: 150px">
    <div class="btn-group" role="group">
        @Html.Partial("_IndividualButtonPartial",
              new IndividualButtonPartial
              {
                  Action = "Edit",
                  ButtonType = "btn-primary",
                  Glyph = "pencil",
                  Text = "Edit Button",
                  BookID = Model.BookID,
                  UserID = Model.UserID
              })
        @Html.Partial("_IndividualButtonPartial",
              new IndividualButtonPartial
              {
                  Action = "Details",
                  ButtonType = "btn-success",
                  Glyph = "list",
                  Text = "Details Button",
                  BookID = Model.BookID,
                  UserID = Model.UserID
              })
        @Html.Partial("_IndividualButtonPartial",
             new IndividualButtonPartial
             {
                 Action = "Delete",
                 ButtonType = "btn-danger",
                 Glyph = "trash",
                 Text = "Delete Button",
                 BookID = Model.BookID,
                 UserID = Model.UserID
             })
    </div>
</td>